/*Cheat code*

//Parent-containeur :
;
display:flex;
flex-direction: row, row-reverse, column, column-reverse
justify-content: flex-start, flex-end, center, space-between, space-around
align-content:; (soit axe x ou y en fct de felx-direction) 
aligne-item: flex-start, flex-end, center, baseline, stretch
flex-wrap:

transform:translatex();

//enfant-ul
widht: %;

//enfant-li
order : (nombre +grand : dérrière et -: devant);
align-self: flex-end, center, flex-start, stretch;


transition-delay:;

*/
* {
    margin: 0;
    padding: 0;
}

body{ 
	font-family: 'Roboto', sans-serif;
}


header{
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #323232;
	font-size: 20px;
	padding: 1em 0; 
}

.menu{
	display: flex;
}

.menu ul{

	list-style-type: none;
	display: flex;
	flex-direction: row;

}

.menu ul li{
	padding: 0 25px;
}

.menu ul li:first-child{

}

.log {
	justify-content: flex-end;
}


.PD1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #1E93CC;
	align-items: center;
	color: white;
	height: 312px;
}

.PD1 div:nth-child(2){
	display: flex;
	flex-direction: column;
	align-items: center;
	transform:translateX(-50%);
}

.titre {
	padding: 1em 0;
}

.PD1 img{
	transform:translateX(-90%);
	display: block;
	height: 250px ;
}

